<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/mineducLogin.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<!-- 			<form action="login" method="post">
				Nombre: <input name="username" type="text"> Password; <input
					name="password" type="password"> <input name="submit"
					type="submit" value="enviar">
			</form>
			 -->
	
	<div
		class="container with-outline page-mineduc page-mineduc rounded-bottom cf">
		<img alt="mineduc-logo" th:src="@{/images/logo-med.png}">

		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="userinfo">Conectado desde la IP : 10.100.17.6</div>
			</div>

		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div
					class="container-fluid content with-outline rounded-top rounded-bottom">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<h3 class="font-gob">Inicio de Sesión</h3>
						</div>
					</div>
					<br>
					<form action="login" method="post">
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<label for="usuario">Nombre de Usuario:</label> <input
									name="username" type="text" class="form-control" id="usuario"
									placeholder="Usuario" aria-describedby="basic-addon1">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<label for="password">Contraseña:</label> <input name="password"
									type="password" class="form-control" id="password"
									placeholder="Contraseña" aria-describedby="basic-addon1">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<p>
									<input id="remember_session" name="remember_session"
										type="checkbox"><span>&nbsp;No cerrar sesión</span>
								</p>
								<p>
									<button type="submit" class="btn btn-primary">
										<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;<span
											class="font-gob">Ingresar</span>
									</button>
								</p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<br>
		<br>
		<div
			class="container-fluid content with-outline rounded-top rounded-bottom">
			<footer>
				<br>
				<hr class="line-separator red">
				<address>
					<p>
						<strong>Ministerio de Educación de Chile</strong><br> <a
							href="http://www.gob.cl"
							title="Ir al portal del Gobierno de Chile">Gobierno de Chile</a><br>
						Dirección: Av. Libertador Bernardo O'Higgins 1371. Teléfono +56 2
						24066000<br>
					</p>
				</address>
			</footer>
		</div>
	</div>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>